a, .txt2, .main-msg2 {color: #77b800;}
#speedometer {background: url(../images/speedometer.png);}
.insidePop-R {border: 10px solid #77b800;}
.tweet a, .copyright a, .timer {color: #b5d47e;}
.widget-title, .tweet, #footer {background: url(../images/line.png) no-repeat top center;}
.popContent h1, .thecontent {background: url(../images/line.png) no-repeat bottom;}
.subscriberButton {background: url(../images/go.png) no-repeat 0 0;}
#contactForm .button:hover {background: #77b800;}
.lineL  {background: url(../images/labelL.png) no-repeat bottom right;}
.lineR {background: url(../images/labelR.png) no-repeat bottom right;}
